APP_ID = dev
APP_NAME = Kairo
APP_VERSION = 1.0

J2DOWN_SECRET = U2FsdGVkX18wV

MONGODB_URI = 

SECREST_JWT = 

ADMIN = HungDev
ADMIN_MAIL = nguyenmanhhung071203@gmail.com

LINK_GROUP = https://zalo.me/g/anzbwd645

PORT = 3000

MAIL_HOST = smtp.gmail.com
MAIL_PORT = 465
MAIL_USER = nghung071203@gmail.com
MAIL_PASS = 
MAIL_FROM = "Hùng dev <nghung071203@gmail.com>"

GITHUB_WEBHOOK_SECRET = 

GG_CUSTOM_SEARCH_APIKEYS = 

CAPTCHA_URL = https://challenges.cloudflare.com/turnstile/v0/siteverify
CAPTCHA_PUBLIC_KEY = 1x00000000000000000000AA
CAPTCHA_SECRET_KEY = 1x0000000000000000000000000000000AA

# KEY REDIS
REDIS_HOST = 
REDIS_PORT = 6379
REDIS_PASSWORD =

# GG AUTH
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# IMGUR
IMGUR_CLIENT_ID=