{% extends 'layouts/app.njk' %}
{% set title = 'Quản lý ip' %}
{% set auth = false %}
{% block content %}
    <div class="card-header border-bottom">
        <h5 class="card-header">Quản lý IPs</h5>
    </div>
    <br/>
    <!-- Button Thêm mới -->
    <div
        class="d-flex justify-content-between mb-3">
        <!-- Ô tìm kiếm + Nút tìm kiếm -->
        <div class="input-group w-25">
            <input type="text" class="form-control" id="searchUser" placeholder="Tìm kiếm IP...">
                <button class="btn btn-outline-primary" onclick="submitSearch()">
                    <i class="bx bx-search"></i>
                    Tìm kiếm
                </button>
            </div>
        </div>
        <script>
            // Lấy giá trị của query "search" từ URL và gán vào input
            function getSearchQuery() {
                const params = new URLSearchParams(window.location.search);
                return params.get("search") || "";
            }
            document.getElementById("searchUser").value = getSearchQuery();
            function submitSearch() {
                let input = document
                    .getElementById("searchUser")
                    .value
                    .trim();
                let url = new URL(window.location.href);
                if (input) {
                    url.searchParams.set("search", input); // Thêm hoặc cập nhật query "search"
                } else {
                    url.searchParams.delete("search"); // Xóa query nếu input rỗng
                }
                window.location.href = url.toString(); // Load lại trang với query mới
            }
            document.getElementById("searchUser").addEventListener("keydown", function (event) {
                if (event.key === "Enter") {
                    submitSearch();
                }
            });
        </script>
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>IP</th>
                        <th
                            class="sortable"
                            onclick="setQueryParams({sort: 'monthlyCount', order: '{% if query.order == 'asc' %}desc{% else %}asc{% endif %}' })">
                            Request tháng này / Tổng
                            <i class="fas fa-sort{% if query.sort == 'monthlyCount' and query.order == 'asc' %}-up{% elif query.sort == 'monthlyCount'
                                and query.order == 'desc' %}-down{% else %}{% endif %}"></i>
                        </th>
                        <th
                            class="sortable"
                            onclick="setQueryParams({sort: 'lastRequestAt', order: '{% if query.order == 'asc' %}desc{% else %}asc{% endif %}' })">
                                Truy cập gần nhất
                            <i class="fas fa-sort{% if query.sort == 'lastRequestAt' and query.order == 'asc' %}-up{% elif query.sort == 'lastRequestAt'
                                and query.order == 'desc' %}-down{% else %}{% endif %}"></i>
                        </th>
                        <th
                            class="sortable"
                            onclick="setQueryParams({sort: 'bannedUntil', order: '{% if query.order == 'asc' %}desc{% else %}asc{% endif %}' })">
                                Trạng thái
                            <i class="fas fa-sort{% if query.sort == 'bannedUntil' and query.order == 'asc' %}-up{% elif query.sort == 'bannedUntil' and
                                query.order == 'desc' %}-down{% else %}{% endif %}"></i>
                        </th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    {% set now = "now" | date("X") %}
                    {% set index = (data.page - 1) * data.limit + 1 %}
                    {% for item in data.docs %}
                        <tr>
                            <td>{{ index }}</td>
                            {% set index = index + 1 %}
                            <td>{{ item.ip }}</td>
                            <td>{{ item.monthlyCount }}/{{ item.totalCount }}</td>
                            <td>
                                {{ item.lastRequestAt | date('DD/MM/YYYY HH:mm:ss', 'Asia/Ho_Chi_Minh') }}
                            </td>
                            <td>
                                {% if item.bannedUntil > now %}
                                    <span class="badge bg-label-danger me-1">Khóa IP đến
                                    {{ item.bannedUntil | date('DD/MM/YYYY HH:mm:ss', 'Asia/Ho_Chi_Minh') }}</span>
                                {% else %}
                                    <span class="badge bg-label-primary me-1">Hoạt động</span>
                                {% endif %}
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="dropdown">
                                        <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bx bx-dots-vertical-rounded"></i>
                                        </button>
                                        {% if user.role == 0 %}
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="javascript:void(0);" onclick="openEditUserModal('{{ item.ip }}');">
                                                    <i class="bx bx-edit-alt me-1"></i>
                                                    Chặn/bỏ chặn IP
                                                </a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% include 'layouts/_pagination.njk' %}
        <!-- Offcanvas to add new user -->
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasAddUser" aria-labelledby="offcanvasAddUserLabel">
            <div class="offcanvas-header border-bottom">
                <h5 id="offcanvasAddUserLabel" class="offcanvas-title">Chặn/bỏ chặn IP</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Đóng"></button>
            </div>
            <div class="offcanvas-body mx-0 flex-grow-0 p-6 h-100">
                <form class="add-new-user pt-0 fv-plugins-bootstrap5 fv-plugins-framework" id="addNewUserForm" method="post" action="{{ baseUrl }}/users/create" novalidate="novalidate">
                    <div class="mb-6 fv-plugins-icon-container">
                        <label class="form-label" for="add-user-fullname">Thời gian chặn</label>
                        <input type="datetime-local" class="form-control" id="date" name="" required/>
                        <input type="hidden" id="bannedUntilTimestamp" name="bannedUntil" required/>
                        <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
                    </div>
                    <button type="submit" class="btn btn-primary me-3 data-submit">Gửi</button>
                    <button type="reset" class="btn btn-label-danger" data-bs-dismiss="offcanvas">Hủy</button>
                    <input type="hidden"/>
                </form>
            </div>
        </div>
        <!-- / Offcanvas to add new user -->
    </div>
    <script>
        const form = document.getElementById('addNewUserForm');
        form.addEventListener('submit', function (e) {
            const localDateStr = document.getElementById('date').value;
            const localDate = new Date(localDateStr);
            const utcTimestamp = localDate.getTime();
            // gán vào input hidden để gửi kèm
            document.getElementById('bannedUntilTimestamp').value = utcTimestamp;
        });
    </script>
    <script>
        // Hàm mở form chỉnh sửa người dùng
        function openEditUserModal(ip) { // Thay đổi tiêu đề của Offcanvas
            document.getElementById("offcanvasAddUserLabel").innerText = "Chặn/bỏ chặn IP";
            document.getElementById("addNewUserForm").action = "{{ baseUrl }}/ips/update/" + ip;
            const now = new Date();
            const year = now.getFullYear();
            const month = String(now.getMonth() + 1).padStart(2, '0');
            const day = String(now.getDate()).padStart(2, '0');
            const hours = String(now.getHours()).padStart(2, '0');
            const minutes = String(now.getMinutes()).padStart(2, '0');
            const seconds = String(now.getSeconds()).padStart(2, '0');
            // Format: YYYY-MM-DDTHH:MM:SS
            const dateTimeString = `${year}-${month}-${day}T${hours}:${minutes}:${seconds}`;
            document.getElementById("date").value = dateTimeString;
            // Hiển thị Offcanvas
            var editUserModal = new bootstrap.Offcanvas(document.getElementById("offcanvasAddUser"));
            editUserModal.show();
        }
    </script>
{% endblock %}